*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* nav Bar styles */
.nav-bar, .logo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.nav-bar{
    margin-top: 20px;
    padding: 20px 0;
}
.logo img{
    width: 50px;
    margin-right: 10px;
    
}
.G{
    color: #FF42A5;
}
.logo h1{
    font-size: 2rem;
}
.about-developers li a{
    font-weight: 400;
    color: #000000;

}
.manu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.manu ul{
    list-style: none;
    display: flex;
    
}
.manu li{
    margin-right: 30px;
}
.manu a{
    text-decoration: none;
    font-weight: 400;
}

.Follow-us-on{
    background-color: #00000052;
    padding: 10px;
    border-radius: 5px;
   
    
}
.Follow-us-on li a{
    color: rgb(0, 0, 0);
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #4f4e4e;
}

/* end nav bar */

/* banner style */

.banner-container{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left, center;
    
}
.banner-content{
    
  
}

.play-like{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.GOAT{
    text-align: center;
    font-size: 4.2rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-pic img{
    width: 400px;
}

.primary-btn , .secondary-btn{
    padding: 10px;
    border: none;
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 20px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.secondary-btn{
    background: #4EC5F7;
}

/* end  banner style */

/* funny game section */

.funny-game{
    margin: 30px 0;
}
.funny-game-titel{
    text-align: center;

}
.funny-game-titel h2{
    margin: 10px 0;
    font-size: 30px ;

}
.Funny-Videos{
    font-size: 30px ;
    text-transform: capitalize;
}
.funny-game-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
   
}
.card {
    width: 200px;
    margin: 20px;
}
.card img{
    width: 100%;
}

.card img:hover{
    filter:grayscale(3);
   
    
    

}

/* end funny game section */


/* Play-Instantly */

.Play-Instantly{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    gap: 100px;
    
}
.Play-Instantly-titel{
   
    text-align: right;
}

.Play-Instantly-titel h2{
    font-size: 30px;
}
.Play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.Play-Instantly-titel p{
    width: 300px;
}
.Play-Instantly-pic img{
    width: 100%;
    
}

.second-pic img{
    width: 150px;
    position: relative;
    top: -100px;
    left: -30px;
   
}
/* end  Play-Instantly */

/* all button section */

.all-button{
    /* background-color: aqua; */
}
.button-container{
    /* background-color: brown; */
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    padding: 20px 200px;
    
}

.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: 10px;
   margin: 10px;
    /* padding: 5px; */
    border-radius: 50px;
    /* background-color: #0B0223; */
   
}
.button img{
    width: 40px;
    margin-right: 5px;
}
.button:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
}



/* footer */
footer{background-color: #0B0223;
    padding: 20px 50px;
    color: beige;
    text-align: center;
}
.logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-icon img{
    width: 40px;
    margin-right: 10px;
}
.footer-bar, .font-icon, .settings-manu{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.font-icon li, .settings-manu li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
   
}
.font-icon{
    font-size: 20px;
}
.footer a{
    text-decoration: none;
    color: #a29f9f;
}



/* end footer */

/* responsive */

/* mobile device */
@media screen and (max-width:576px) {
    .nav-bar, .manu, .about-developers {

        flex-direction: column;
        
    }
    .about-developers li{
        margin: 20px 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        /* padding: 20px; */
        text-align: center;
    }
    .banner-container img{
        width: 50%;
       
    }

    .funny-game-card-container{
        flex-direction: column;
    }
    .card{
       width: 300px;
    }
    .Play-Instantly{
        flex-direction: column;
        padding: 0 60px;
       
        gap: 30px;
    }
   
    }
    .Play-Instantly-titel{
        text-align: center;
    }
    .Play-Instantly h2{
        font-size: 22px;
    }
    .Play-Instantly p{
        font-size: 14px;
    }

    .all-button{
        width: 100%;
    }
    .button-container{
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 30px ;
    }
    .footer-bar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .font-icon{
        font-size: 20px;
       
    }
    .settings-manu li{
        margin: 10px ;
        /* border: 3px solid yellow; */
    }
    .footer{
        
        border: 3px solid red;
        padding: 20px 50px;
    }
    .footer p{
        font-size: 0.8rem;
    }
   
    


/* tablet device */
@media screen and (min-width:576px) and (max-width:992px) {

    .nav-bar, .manu, .about-developers {

        flex-direction: column;
        
    }
    .about-developers li{
        margin: 20px 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }
    .banner-container img{
        width: 100%;
    }
    
    .funny-game-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       padding: 0%;
       gap: 20px;
    }

    .button-container{
        
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 20px ;
    }
}