*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* nav Bar styles */
.nav-bar, .logo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.nav-bar{
    margin-top: 20px;
    padding: 20px 0;
}
.logo img{
    width: 50px;
    margin-right: 10px;
    
}
.G{
    color: #FF42A5;
}
.logo h1{
    font-size: 2rem;
}
.about-developers li {
    font-weight: 400;
    color: #000000;
    margin: 10px 0;

}
.about-developers li a{
    color: black;
}
.nav-manu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-manu ul{
    list-style: none;
    display: flex;
    
}
.nav-manu li{
    margin-right: 30px;
}
.nav-manu a{
    text-decoration: none;
    font-weight: 400;
}

.Follow-us-on{
    background-color: #00000052;
    padding: 10px;
    border-radius: 5px;
   
    
}
.Follow-us-on li a{
    color: rgb(0, 0, 0);
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #4f4e4e;
}

/* end nav bar */
/* banner section */
.banner-section{
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-image: url("images/Group\ 14.png");
   background-repeat: no-repeat;
}
.play-like{
    color: #0B0223;
}
.GOAT{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}
.banner-section small{
    color: #534C64;
}
.banner-section img{
   height: 400px;
}

.primary-btn , .secondary-btn{
    padding: 10px;
    background-color: #FF42A5;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    margin: 20px 0;
    font-weight: 600;
}
.secondary-btn{
    background: #4EC5F7;
    
}
    /* end banner section */

    /* online game section */

    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


    .game-card{
        width: 200px;
    }
    .game-card .card-pic{
        width: 100%;
    }
    .card{
        width: 200px;
        position: relative;
       
      
    }
    img{
        width: 100%;
    }
    .overlay{
        position:absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background: rgb(165, 45, 45);
        cursor: pointer;
    }
    .contant{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        color: white;
        text-align: center;
    }
    .play{
        width: 50px;
    }
    .card:hover .overlay{
        opacity: 0.8;
    }
   


    /* .online-games{
        border: 2px solid palevioletred;
        margin: 10px 0;
    }
    .online-games-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .online-games-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }
    .game-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
       
        margin-bottom: 20px;
    }
    .card{
        width: 200px;
    }
    .card img{
        width: 100%;
        
    } */

     /* online game section */

    /* Play-Instantly */
    .Play-Instantly{
        display: flex;
        justify-content: space-around;
        align-items: center;

        border: 2px solid red;
        margin-bottom: 20px;
    }
    .Play-Instantly-titel{
        text-align: right;
        /* width: 50%; */
       
    }
    .Play-Instantly-titel h2{
        font-size: 1.5rem;
    }
    .Play-Instantly-titel span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .Play-Instantly-titel p{
        width: 300px;
    
        text-align: right;
    }
    .pic-55{
        height: 400px;
    }
    .pic-66{
        width: 150px;
        position: relative;
        top: -100px;
        left: -40px;
    }
    /* man-button-area */
   
    .man-button-area{
        padding: 0 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      margin-bottom: 20px;
        border: 2px solid yellow;
    }
    .man-button-area img{
        width: 40px;
        margin-right: 10px;
    }

    .all-button{
        display: flex;
        justify-content: center;
        align-items: center;
        
       /* background-color: aqua; */
        margin: 10px;
        /* width: 150px; */
        padding: 5px;
        border-radius: 50px;

    }
    .all-button:hover{
        border: 1px solid #FF42A5;
        color: #FF42A5;
    }
    /* .all-button img{
        width: 40px;
    } */

/* footer styles */
footer{
    margin-bottom: 40px;
    background-color: #050516;
    padding: 20px 0;
    border: 2px solid rgb(255, 0, 0);
    color: white;
}

.logo-icon-name{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-bar, .font-icon, .settings-manu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.footer-bar li, .font-icon li, .settings-manu li{
    list-style: none;
    
}
.footer-bar li a ,.font-icon i, .settings-manu a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
.font-icon i{
    font-size: 20px;
}
.footer p{
    text-align: center;
}

.logo-icon-name img{
    width: 40px;
}

.hide{
    display: none;
}
/* responsive */

@media screen and (max-width:576px) {
   /* navbar */
   .nav-bar{
    flex-direction: column;
}
.nav-manu{
    flex-direction: column;
    
}
.about-developers{
    flex-direction: column;
    margin: 10px 0;
}

/* banner */

.banner-section{
    flex-direction: column-reverse;
}
.banner-section img{
    height: auto;

    width: 100%;
}

/* game card */
.card-container{
    flex-direction: column;
    margin: 0;
}
.game-card, .card{
width: 300px;
}
/* 
  .game-card{
    flex-direction: column;
  }
  .card{
    width: 300px;
  } */

  .Play-Instantly{
    flex-direction: column;
  
}
.Play-Instantly-titel{
    margin: 20px 0;
    text-align: center;
}
.Play-Instantly-titel p{
    text-align: center;
}
 
 
   .Play-Instantly .pic-55{
    width: 300px;
    height: auto;
   }
   .pic-66{
    width: 150px;
    position: relative;
    top: -100px;
    left: -20px;
}

.man-button-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    padding: 0;
}
.man-button-area img{
    width: 35px;
}


.footer-bar, .font-icon , .settings-manu{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
padding: 0 50PX;
}
.footer P{
    padding: 0 50PX;
    font-size: 0.8REM;
    font-weight: 300;
}
    
}

@media screen and (min-width:576px) and (max-width:992px) {

    .nav-bar{
        flex-direction: column;
    }
    .nav-manu{
        flex-direction: column;
        
    }
    .about-developers{
        flex-direction: column;
        margin: 10px 0;
    }
    /* banner */
    .banner-section{
        display: flex;
        
        /* padding: 20px; */
        justify-content: space-around;
        align-items: center;
    }

    /* game section */
    .card-container{
       
        flex-wrap: wrap;
     }
    /* .game-card{
        padding: 0 20px;
    } */

    .Play-Instantly{
        gap: 50px;
    }

    .man-button-area{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
        padding: 0;
    }
    .man-button-area img{
        width: 35px;
    }

}